## Clasificador académico

En el siguiente script se crea un Dataframe con información de estudiantes, el cual sive como plantilla para futuros análisis de clasificación en instituciones educativas.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Inicialmente, defina la función crear_est , la cual crea un diccionario con la información necesaria

In [2]:
def crear_est(nom:str, ide:str, gen:str, carr:str, papa:float, pact:float)->dict:
    dic_est = { "nombre": nom,
                "identificación": ide,
                "género": gen, 
                "carrera": carr,
                "PAPA": papa,
                "promedio_actual": pact}
    return dic_est

Se creean luego, cuatro diccionarios llamados estudiante1, estudiante2, estudiante3 y estudiante4, con algunos datos respectivos.

In [23]:
estudiante1 = crear_est("Ximena Yurley Pedraza", "1024543765", "Femenino", "Química", 4.32, 2.9)
estudiante2 = crear_est("Debora Dora Ortiz", "8862435667", "Femenino", "Historia", 4.1, 3.5)
estudiante3 = crear_est("Alfonso Chiquillo", "432487639", "No Binario", "Ingeniería de Alimentos", 2.9, 4.89)
estudiante4 = crear_est("Luis Miguel Iglesias", "6453424178", "Masculino", "Música", 3.9, 4.3)
print(estudiante1)

{'nombre': 'Ximena Yurley Pedraza', 'identificación': '1024543765', 'género': 'Femenino', 'carrera': 'Química', 'PAPA': 4.32, 'promedio_actual': 2.9}

Se realiza ahora una clasificación por género a partir de los anteriores diccionarios.

In [24]:
def contar_genero( estudiante1, estudiante2, estudiante3, estudiante4)->dict:
    # Se crea el diccionario final
    conteo_genero = {"femenino": 0, "masculino": 0, "no_binario": 0}
    
    # Se crea una lista que contiene cada diccionario
    lista = [estudiante1, estudiante2, estudiante3, estudiante4]
    
    # Se recorre la lista
    for i in lista:
        
        genero = i["género"]
        #print(genero)
        if genero == "Femenino":
            conteo_genero["femenino"] += 1
        elif genero == "Masculino":
            conteo_genero["masculino"] += 1
        elif genero == "No Binario":
            conteo_genero["no_binario"] += 1
    return conteo_genero
    
final = contar_genero( estudiante1, estudiante2, estudiante3, estudiante4)
print(final)

{'femenino': 2, 'masculino': 1, 'no_binario': 1}

A continuación se crea una función llamada en_riesgo que reciba por parámetro a los cuatro estudiantes y devuelva un diccionario con las identificaciones (claves) y PAPA (valores) de los estudiantes que tienen el promedio por debajo de 3.0.
De esta manera, se filtrarán estudiantes con posibles riesgos de pérdida en alguna asignatura.

In [25]:
def en_riesgo(estudiante1, estudiante2, estudiante3, estudiante4)->dict:
     # Se crea el diccionario final
    estudiantes_en_riesgo = {}
    
    # Se crea una lista que contiene cada diccionario
    lista = [estudiante1, estudiante2, estudiante3, estudiante4]
    
    for i in lista:
        if i["promedio_actual"] < 3.0:
            estudiantes_en_riesgo[ i["identificación"]] = i["PAPA"]
    return estudiantes_en_riesgo

a = en_riesgo(estudiante1, estudiante2, estudiante3, estudiante4)
print(a)

{'1024543765': 4.32}

A continuación se crea una fucnión que reciba como entrada a los cuatro estudiantes y un nombre y/o apellido (string), y cuya salida sea verdadero o falso si alguno de los estudiantes tiene o no dicho nombre y/o apellido. El parámetro de entrada no tiene qué ser el nombre completo, y puede ser ingresado en minúsculas y/o mayúsuculas. Por ejemplo, si el nombre Andres Ferney Contreras Torres apareciera en algún diccionario, se podría ingresar como parámetro de entrada (además de los cuatro estudiantes) “AnDres ToRRes”, “Ferney”, “conTREras TorrES”, “andres Ferney”, etc. Por ahora se evitará el uso de tildes en los valores de la clave Nombres para simplificar el código.

In [26]:
def existe_est(estudiante1, estudiante2, estudiante3, estudiante4, nombre_apellido:str):
    
    # Convertir a minúsculas el nombre ingresado y dividirlo
    nombre_apellido = nombre_apellido.lower().split()
    
    lista = [estudiante1, estudiante2, estudiante3, estudiante4]
    
    for i in lista:
        nombre_completo = i["nombre"].lower().split()
        # Verificar si todas las partes del nombre ingresado están presentes en el nombre completo del estudiante
        todas_nombre_apellido = True
        for j in nombre_apellido:
            if j not in nombre_completo:
                todas_nombre_apellido = False         
        # Si todas las partes están presentes, se devuelve True
        if todas_nombre_apellido:
            return True
    # Si no se encontró ninguna coincidencia después de revisar todos los estudiantes, se devuelve False
    return False

print(existe_est(estudiante1, estudiante2, estudiante3, estudiante4, "IgleSias Miguel"))
print(existe_est(estudiante1, estudiante2, estudiante3, estudiante4, "XiMeNA PEdraza")) 
print(existe_est(estudiante1, estudiante2, estudiante3, estudiante4, " Chiquillo AlFonso"))
print(existe_est(estudiante1, estudiante2, estudiante3, estudiante4, "Mateo Alfonso"))

True
True
True
False

Posteriormente, se crea, a partir de los cuatro diccionarios anteriores, un solo diccionario llamado estudiantes donde se compile TODA la información. Luego se crea un DataFrame en Pandas con dicho diccionario, donde los nombres de la fila superior sean las claves del diccionario (Nombre, identificación,...), y los nombres de la primera columna sean estudiante1, estudiante2,...

In [27]:
# Creación de diccionario info
info = {"nombre": [estudiante1["nombre"], estudiante2["nombre"], estudiante3["nombre"], estudiante4["nombre"] ],
        "identificación": [estudiante1["identificación"], estudiante2["identificación"], estudiante3["identificación"], estudiante4["identificación"] ], 
        "género": [estudiante1["género"], estudiante2["género"], estudiante3["género"], estudiante4["género"]],  
        "carrera": [estudiante1["carrera"], estudiante2["carrera"], estudiante3["carrera"], estudiante4["carrera"]],  
        "PAPA": [estudiante1["PAPA"], estudiante2["PAPA"], estudiante3["PAPA"], estudiante4["PAPA"]], 
        "promedio_actual": [estudiante1["promedio_actual"], estudiante2["promedio_actual"], estudiante3["promedio_actual"], estudiante4["promedio_actual"]],
        "Estudiantes": ["estudiante1", "estudiante2", "estudiante3", "estudiante4"]}

# Creación del DataFrame a partir del diccionario
dfinfo=pd.DataFrame(info)
# Establecer 'Estudiante 1, Estudiante 2, ...' como índice del dataset.
dfinfo.set_index('Estudiantes', inplace=True)
dfinfo

,nombre,identificación,género,carrera,PAPA,promedio_actual
Estudiantes,,,,,,
estudiante1,Ximena Yurley Pedraza,1024543765,Femenino,Química,4.32,2.90
estudiante2,Debora Dora Ortiz,8862435667,Femenino,Historia,4.10,3.50
estudiante3,Alfonso Chiquillo,432487639,No Binario,Ingeniería de Alimentos,2.90,4.89
estudiante4,Luis Miguel Iglesias,6453424178,Masculino,Música,3.90,4.30

Finalmente, se agrega al final del DataFrame creado, una nueva fila llamada “Promedio Estudiantes” y que, en las últimas dos columnas, calcula la media de los PAPAs (Promedio Aritmético Ponderado Acumulado) y del promedio semestral de todos los estudiantes. En el resto de columnas, dicha fila tendrá el valor NaN (Not A Number).

In [28]:
# Forma #1

mean_PAPA = dfinfo.PAPA.mean()
mean_promedio_actual = dfinfo.promedio_actual.mean()
# Creación de diccionario info2 
info2 = {"nombre": [estudiante1["nombre"], estudiante2["nombre"], estudiante3["nombre"], estudiante4["nombre"] , np.nan],
        "identificación": [estudiante1["identificación"], estudiante2["identificación"], estudiante3["identificación"], estudiante4["identificación"], np.nan], 
        "género": [estudiante1["género"], estudiante2["género"], estudiante3["género"], estudiante4["género"], np.nan],  
        "carrera": [estudiante1["carrera"], estudiante2["carrera"], estudiante3["carrera"], estudiante4["carrera"], np.nan],  
        "PAPA": [estudiante1["PAPA"], estudiante2["PAPA"], estudiante3["PAPA"], estudiante4["PAPA"], mean_PAPA], 
        "promedio_actual": [estudiante1["promedio_actual"], estudiante2["promedio_actual"], estudiante3["promedio_actual"], estudiante4["promedio_actual"], mean_promedio_actual],
        "Estudiantes": ["estudiante1", "estudiante2", "estudiante3", "estudiante4", "Promedio Estudiantes"]}

dfinfo2=pd.DataFrame(info2)
dfinfo2.set_index('Estudiantes', inplace=True)
dfinfo2

,nombre,identificación,género,carrera,PAPA,promedio_actual
Estudiantes,,,,,,
estudiante1,Ximena Yurley Pedraza,1024543765,Femenino,Química,4.320,2.9000
estudiante2,Debora Dora Ortiz,8862435667,Femenino,Historia,4.100,3.5000
estudiante3,Alfonso Chiquillo,432487639,No Binario,Ingeniería de Alimentos,2.900,4.8900
estudiante4,Luis Miguel Iglesias,6453424178,Masculino,Música,3.900,4.3000
Promedio Estudiantes,NaN,NaN,NaN,NaN,3.805,3.8975

In [29]:
# Forma #2

df = pd.DataFrame(info)

# Cálculo de promedios
promedio_PAPA = df["PAPA"].mean()
promedio_semestral = df["promedio_actual"].mean()

# Crear una nueva fila llamada "Promedio Estudiantes"
nueva_fila = {
    "nombre": np.nan,
    "identificación": np.nan,
    "género": np.nan,
    "carrera": np.nan,
    "PAPA": promedio_PAPA,
    "promedio_actual": promedio_semestral,
    "Estudiantes": "Promedio Estudiantes"
}

# Añadir la nueva fila al DataFrame usando concat
df = pd.concat([df, pd.DataFrame(nueva_fila, index=[0])], ignore_index=True)

# Imprimir el DataFrame actualizado
df.set_index('Estudiantes', inplace=True)
df

,nombre,identificación,género,carrera,PAPA,promedio_actual
Estudiantes,,,,,,
estudiante1,Ximena Yurley Pedraza,1024543765,Femenino,Química,4.320,2.9000
estudiante2,Debora Dora Ortiz,8862435667,Femenino,Historia,4.100,3.5000
estudiante3,Alfonso Chiquillo,432487639,No Binario,Ingeniería de Alimentos,2.900,4.8900
estudiante4,Luis Miguel Iglesias,6453424178,Masculino,Música,3.900,4.3000
Promedio Estudiantes,NaN,NaN,NaN,NaN,3.805,3.8975